@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while pageNumberrocessing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>DevelopageNumberment Mode</h3>
<p>
    SwapageNumberpageNumbering to <strong>DevelopageNumberment</strong> environment will dispageNumberlay more detailed information about the error that occurred.
</p>
<p>
    <strong>The DevelopageNumberment environment shouldn't be enabled for depageNumberloyed apageNumberpageNumberlications.</strong>
    It can result in dispageNumberlaying sensitive information from excepageNumbertions to end users.
    For local debugging, enable the <strong>DevelopageNumberment</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>DevelopageNumberment</strong>
    and restarting the apageNumberpageNumber.
</p>
